{{spot-row-display spots=spots row="8" selectPiece="selectPiece" selectSpot="selectSpot"}}
{{spot-row-display spots=spots row="7" selectPiece="selectPiece" selectSpot="selectSpot"}}
{{spot-row-display spots=spots row="6" selectPiece="selectPiece" selectSpot="selectSpot"}}
{{spot-row-display spots=spots row="5" selectPiece="selectPiece" selectSpot="selectSpot"}}
{{spot-row-display spots=spots row="4" selectPiece="selectPiece" selectSpot="selectSpot"}}
{{spot-row-display spots=spots row="3" selectPiece="selectPiece" selectSpot="selectSpot"}}
{{spot-row-display spots=spots row="2" selectPiece="selectPiece" selectSpot="selectSpot"}}
{{spot-row-display spots=spots row="1" selectPiece="selectPiece" selectSpot="selectSpot"}}
<div class="clearfix">
  <span class="spot label"></span>
  <span class="spot label">A</span>
  <span class="spot label">B</span>
  <span class="spot label">C</span>
  <span class="spot label">D</span>
  <span class="spot label">E</span>
  <span class="spot label">F</span>
  <span class="spot label">G</span>
  <span class="spot label">H</span>
</div>
<div class="clearfix"></div>
