{{spot-row-display spots=spots row="8"}}
{{spot-row-display spots=spots row="7"}}
{{spot-row-display spots=spots row="6"}}
{{spot-row-display spots=spots row="5"}}
{{spot-row-display spots=spots row="4"}}
{{spot-row-display spots=spots row="3"}}
{{spot-row-display spots=spots row="2"}}
{{spot-row-display spots=spots row="1"}}
<div class="clearfix">
  <span class="spot label"></span>
  <span class="spot label">A</span>
  <span class="spot label">B</span>
  <span class="spot label">C</span>
  <span class="spot label">D</span>
  <span class="spot label">E</span>
  <span class="spot label">F</span>
  <span class="spot label">G</span>
  <span class="spot label">H</span>
</div>
<div class="clearfix"></div>
