<p>
  Player {{#if model.isWhite}}white{{else}}black{{/if}}

  {{#if model.user}}
    {{model.user.id}}
  {{else}}
    {{#unless session.user.player}}
      <button class="pure-button button-secondary" {{action "sit"}}>Sit Down</button>
    {{/unless}}
  {{/if}}

  ///

  <small>pieces to drop:</small>

  {{#each spotlessPieces as |piece|}}
    {{piece-display model=piece selectPiece="selectPiece"}}
  {{else}}
    ...
  {{/each}}
</p>
