<h1>BUGSPORT</h1>
{{model.createdAt}}

{{#each model.boards as |board|}}
  <h2>BOARD {{board.name}}</h2>
  {{#each board.players as |player|}}
    <h3>Player {{#if player.isWhite}}white{{else}}black{{/if}}</h3>
    <div class="pieces">
      <h5>Pieces</h5>
      {{#each player.pieces as |piece|}}
        <span>{{piece.type}}</span>
      {{/each}}
    </div>
  {{/each}}
  <div class="spots">
    <h5>Spots</h5>
    <div>
    {{#each board.spotsOnRow8 as |spot|}}
      <span>|{{spot.name}}|</span>
    {{/each}}
    </div>
    <div>
    {{#each board.spotsOnRow7 as |spot|}}
      <span>|{{spot.name}}|</span>
    {{/each}}
    </div>
    <div>
    {{#each board.spotsOnRow6 as |spot|}}
      <span>|{{spot.name}}|</span>
    {{/each}}
    </div>
    <div>
    {{#each board.spotsOnRow5 as |spot|}}
      <span>|{{spot.name}}|</span>
    {{/each}}
    </div>
    <div>
    {{#each board.spotsOnRow4 as |spot|}}
      <span>|{{spot.name}}|</span>
    {{/each}}
    </div>
    <div>
    {{#each board.spotsOnRow3 as |spot|}}
      <span>|{{spot.name}}|</span>
    {{/each}}
    </div>
    <div>
    {{#each board.spotsOnRow2 as |spot|}}
      <span>|{{spot.name}}|</span>
    {{/each}}
    </div>
    <div>
    {{#each board.spotsOnRow1 as |spot|}}
      <span>|{{spot.name}}|</span>
    {{/each}}
    </div>
  </div>
{{/each}}
