<h1>BUGSPORT</h1>
{{model.createdAt}}

{{#each model.boards as |board|}}
  <h2>BOARD {{board.name}}</h2>
  {{#each board.players as |player|}}
    <h3>Player {{#if player.isWhite}}white{{else}}black{{/if}}</h3>
    <div class="pieces">
      <h5>Pieces</h5>
      {{#each player.pieces as |piece|}}
        {{piece-display model=piece}}
      {{/each}}
    </div>
  {{/each}}
  <div class="spots">
    <h5>Spots</h5>
    {{spot-row-display spots=board.spots row="8"}}
    {{spot-row-display spots=board.spots row="7"}}
    {{spot-row-display spots=board.spots row="6"}}
    {{spot-row-display spots=board.spots row="5"}}
    {{spot-row-display spots=board.spots row="4"}}
    {{spot-row-display spots=board.spots row="3"}}
    {{spot-row-display spots=board.spots row="2"}}
    {{spot-row-display spots=board.spots row="1"}}
    <div class="clearfix">
      <span class="spot"></span>
      <span class="spot">A</span>
      <span class="spot">B</span>
      <span class="spot">C</span>
      <span class="spot">D</span>
      <span class="spot">E</span>
      <span class="spot">F</span>
      <span class="spot">G</span>
      <span class="spot">H</span>
    </div>
  </div>
  <div style="clear: both;"></div>
{{/each}}
